body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --subtitle: Inter;

  /* font sizes */
  --discription-size: 20px;
  --subtitle-size: 30px;
  --headding-size: 50px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.8);
  --color-white: #fff;
  --color-darkorchid-200: #8c32b2;
  --color-midnightblue: rgba(53, 13, 70, 0.5);

  /* Border radiuses */
  --br-11xl: 30px;
  --br-31xl: 50px;
}

a {
  color: #fff;
  text-decoration: none;
}